
@{
    ViewBag.Title = "Training（D3.js）";
}

<p>
    @Html.ActionLink("selector demo", "SelectorDemo")
</p>
<p>
    @Html.ActionLink("Enter-Update-Exit", "EnterUpdateExitDemo")
</p>
<p>
    @Html.ActionLink("D3-Array-Method", "D3ArrayMethod")
</p>
<p>
    @Html.ActionLink("D3-Scale", "D3Scale")
</p>
<p>
    @Html.ActionLink("D3-Axis", "D3Axis")
</p>
<p>
    @Html.ActionLink("D3Transition", "D3Transition")
</p>
<p>
    @Html.ActionLink("D3Shape", "D3Shape")
</p>
<p>
    @Html.ActionLink("D3ChartBeautify", "D3ChartBeautify")
</p>
<p>
    @Html.ActionLink("D3Layout", "D3Layout")
</p>
<p>
    @Html.ActionLink("D3Interaction", "D3Interaction")
</p>